# Dependencies
node_modules

# static files
static_html/*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Upload files (optional, uncomment if needed)
upload/*

# plan
.plan


# sessions
api/sessions/*